.container {
    text-align: center;
}
.key {
    background-color: rgb(66, 66, 66);
    height: 50px;
    width: 50px;
    border: 5px solid rgb(78, 57, 7);
    border-radius: 50%;
    font-size: 40px;
    float: left;
    margin: 5px;
}
.keys {
    display: flex;
    justify-content: center;
}
.keyboard{
    margin-top: 150px;
}